.reasons{
  position: relative;
  margin-top: 100px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='250' height='105' viewBox='0 0 120 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ctext transform='rotate(-20 80 20)' x='5' y='15'  fill-opacity='0.1' fill='black'%3eTIME TO JOB%3c/text%3e%3c/svg%3e");
}
.top{
  position: relative;
  text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Адаптивное число колонок, каждая минимум 200px шириной */
    grid-gap: 40px; /* Расстояние между элементами */
  }
  
  .reasons__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .reasons__img {
    max-width: 100%;
    height: auto;
  }
  
  .reasons__text {
    margin: 10px 0;
  }